[flake8]
select = C,E,F,W,B,B950
# create compatability with code formatters
extend-ignore = E203, E501, W503, E402
max-complexity = 16
exclude =
    .git,
    __pycache__,
    docs,
    build,
    dist,
    external